
.clearfix {
  overflow: hidden;
  background-color: #1c87fb;
  zoom: 1;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.editors-pick{
  margin-top: 70px;
}
.image-size img{ 
  min-height: 293px;
  object-fit: cover;
  object-position: center center;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  background-color: #f1f1f1;
}
a{
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-weight: bold;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}

img{
  cursor: pointer;
}
h2{
  font-size: 16px;
  padding-bottom: 0.5em;
}

.underline-red:hover{
  color: #000;
  text-decoration: underline;
  text-decoration-color: #f92859;
}

.color-red:hover{
  color: #f92859;
  text-decoration: none;
}
.principal-logo{
  fill:#f1f1f1;
}

.principal-logo-red{
  fill:#f72210;
}
.icon-n{
  -webkit-flex: none;
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
    margin-right: 10px;
}
/* NAVBAR*/
nav{
  max-width: 1310px;
  margin: auto;
  background-color: white;
}
.debate-border{
  border-top: 5px solid #f92859; 
  border-bottom: 5px solid #1c87fb;
}

/* HEADER */
.header-lg{
  max-width: 1310px;
  min-height: 95px;
  margin: auto;
  background-color:#f72210;
}

.header-sm{
  background-color:#f72210;
  max-height: 60px;
}

.btn-subscribe{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  width: 90px;
  height: 1.5em;
  border-radius: 3px;
  margin: 7px;
  font-size: 15px;
  color: #000;
}

.city-country img{
  max-height: 24px;
  object-fit: cover;
}
.city-country p{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}
.weather-arrow{
   width: 6px;
   height: 11px;
}
/* HEROES SECTION */
.heroes-section img{
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}

.pindex1{z-index: 1;}
.pindex2{z-index: 2;}
.pindex3{z-index: 3;}
.pindex9000{z-index: 9000;}
.pindex-1{z-index: -1;}

/* MORE STORIES SECTION */
.stories-section img{
  height: 95px;
  width: 95px;
  object-fit: cover;
  object-position: center center;
}

/*THE DEBATE AND OPINION SECTION*/
.autorname, span {
  font-size: 0.8em;
}
.versus{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: aliceblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  
}
.border-versus{
  height: 1px;
  border-top: 3px double #d9d9d9;
}

.subscribe-container{
  max-width: 300px;
  background-color: #f4f5f6;
  border: 1px solid #dbdde0;
  margin: auto;
}
/*Main*/



main
{
  background-color: #f1f1f1;
}

.principal-news{
    max-width: 1310px;
    height: auto;
    background-color: white;
}

.compact-column img{
  width: 100px;
  object-fit: cover;
  font-size: 17px!important;
}
.see-features{
  background-color: rgb(238, 238, 238);
  padding: 4px;
}
.see-features a{
  text-decoration: none;
  color: #000;
}
.icon-color:hover{
  fill: blue;
}

.sizelink-22 a{font-size: 22px;}
.sizelink-17 a{font-size: 17px;}
.sizelink-18 a{font-size: 18px;}
.sizelink-19 a{font-size: 19px;}
.sizelink-20 a{font-size: 20px;}
.sizelink-24 a{font-size: 24px;}
.sizelink-16 a{font-size: 16px;}
.sizelink-14 a{font-size: 16px;}

.sizetext-15 p{font-size: 15px;}
.sizetext-17 p{font-size: 17px;}
.sizetext-14 p{font-size: 14px;}
/* sizelink-22 sizetext-17 */
.search-logo{
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  background-position: right center;
  width: 100px;

}
.header-bottom::before {
    position: relative;
    top: 0;
    left: 95%;
    content: "";
    display: block;
    width: 5%;
    height: 10px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}

footer{
  max-width: 1310px;
  margin: auto;
}
