body{
    background-color: #f4f5f6;
    font-size: 16px;
}
.header{
    background-color:#f72210;
}

.heroes-section img{
    max-height: 200px;
    object-fit: cover;
    object-position: center center;
}


.principal-news{
    max-width: 1500px;
    height: auto;
    background-color: white;
}


.first-article{
    margin: 0;
    size: 0px;
    background: #f1f1f1;
    border-radius: 12px;
    padding: 25px 0 600px;
}